.Header-design {
  background-color: #1ac56c;
  padding: 13px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-design a {
  padding: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.menu-design a.active {
  color: black;
  text-decoration: underline;
}
.Header-design h4 {
  font-size: 31px;
  color: white;
  margin: 0 !important;
  cursor: pointer;
}

.btn-design button {
  padding: 11px 25px;
  font-size: 12px;
  color: #ffffff;
  background: #1ac56c;
  border: 1px solid white;
  cursor: pointer;
}


/* Footer */

.footer-design {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 50px 50px 10px 50px;
  background: #1cc56c;
}
.footer-logo {
  width: 30%;
}
.footer-logo img{
  width: 125px;
}
.footer-logo p {
  font-size: 14px;
  font-weight: 400;
  margin-right: 34px;
  color: white;
}
.footer-menu a {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-decoration: none;
  padding: 4px 0;
  letter-spacing: 7px;
  margin-top: 10px;
}
.footer-menu {
  width: 20%;
  margin: 0;
  padding: 0;
}

.footer-menu h4 {
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.footer-contact-info{
  width: 30%;
}
.footer-contact-info h4{
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}
.footer-contact-info h6{
  color: white;
 
    font-size: 19px;
    margin: 18px 0;
    padding: 0;
    font-weight: 600;

}



/* errorpage */

.errorpage{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorpage div{
  text-align: center;
}

.errorpage button {
  font-size: 25px;
  font-weight: 600;
  font-family: cursive;
  padding: 6px 51px;
  border: 1px solid #1cc56c;
  cursor: pointer;
}


/* banner-section */
.banner-section{
  background-image: url(./REACT_ROUTER/Pages/Header-Fotter/banner-1-update-scaled.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}


/* banner-section */

.service-section{
  padding: 50px 0;
}

.service-title{
  text-align: center;
  padding: 0 250px;
}

.service-title h3 {
  font-size: 40px;
  margin: 0;
  font-weight: 600;
  font-family: cursive;
  font-style: normal;
}

.service-title p {
  font-size: 14px;
  font-family: cursive;
}

.service-items{
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  text-align: center;

}

/* blog-page */
.blog-page {
  padding: 0 50px;
}

.blog-page h1{
  text-align: center;
  text-decoration: underline;
  font-size: 55px;
}

section.blogs-design {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

section.blogs-design article h3{
  font-size: 24px;
}